@keyframes pulse-animation {
  0% {
    box-shadow: 0 00 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 100px rgba(0, 0, 0, 0);
  }
}
.pulse {
    animation: pulse-animation 2s infinite;
}
.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px #0000001a;
}
.divVersus{
    display: flex;
    margin-top: 3%;
    margin-left: 23%;
}
.versusDiv1Div1H2{
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-left: 13%;
}
.versusDiv3Div1H2{
    color: white;
    font-size: 20px;
    font-weight: 400;
}
.bouton1Versus{
    border: 15px solid hsl(230, 89%, 62%) ;
    border-radius: 50%;
    padding: 35px 40px;
    margin-left:35% ;
    position: absolute;
    top: 37%;
    cursor: pointer;
    box-shadow: 0px 6px 0px 0px hsl(230, 75%, 43%);
}

.bouton2Versus{
    border: 15px solid hsl(39, 89%, 49%) ;
    border-radius: 50%;
    padding: 35px 40px;
    position: absolute;
    top: 45%;
    cursor: pointer;
    margin-left: -2%;
    box-shadow: 0px 6px 0px 0px hsl(40, 95%, 40%);

}
.bouton3Versus{
    border: 15px solid hsl(349, 71%, 52%) ;
    border-radius: 50%;
    padding: 38px 40px;
    position: absolute;
    top: 45%;
    cursor: pointer;
    box-shadow: 0px 6px 0px 0px hsl(349, 95%, 30%);
}
.versusDiv2{
    margin-left: 16%;
    margin-top: 7%;
    text-align: center;
}
.versusDiv3{
    margin-left: 14%;
}
.versusDiv2Div1H1{
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}

.versusDiv2Div2Btn{
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    color: red;
    cursor: pointer;
}
.versusDiv1Div2{
    margin-left: -5%;
}

@media (max-width: 576px) {
   
}
@media (min-width: 577px) and (max-width: 768px) {
    
}
@media (min-width: 769px) and (max-width: 1090px) {
    
}