.jeuDiv1{
    display: flex;
    justify-content: center;
    margin-top: 8%;
    z-index: -1;
}

.feuilleStyle {
    border: 15px solid hsl(230, 89%, 62%);
    border-radius: 50%;
    padding: 25px 30px;
    cursor: pointer;
    box-shadow: 2px 7px 5px 0px rgba(63, 63, 63, 0.75) inset;
}
.ciseauxStyle {
    border: 15px solid hsl(39, 89%, 49%);
    border-radius: 50%;
    padding: 25px 30px;
    cursor: pointer;
    box-shadow: 2px 7px 5px 0px rgba(63, 63, 63, 0.75) inset;
}

.pierreStyle {
    border: 15px solid hsl(349, 71%, 52%);
    border-radius: 50%;
    padding: 30px 30px;
    cursor: pointer;
    box-shadow: 2px 7px 5px 0px rgba(63, 63, 63, 0.75) inset;
}


.bouton1 {
    position: absolute;
    top: 37%;
    margin-left: 35%;
    box-shadow: 2px 7px 5px 0px rgba(63, 63, 63, 0.75) inset;
}

.bouton2 {
    position: absolute;
    top: 37%;
    margin-left: 55%;
    box-shadow: 2px 7px 5px 0px rgba(63, 63, 63, 0.75) inset;
}

.bouton3 {
    position: absolute;
    top: 70%;
    margin-left: 45%;
    box-shadow: 2px 7px 5px 0px rgba(63, 63, 63, 0.75) inset;
}

@media (max-width: 576px) {
   .jeuDiv1{
    margin-top: 25%;
   }
   .bouton1{
    top: 31%;
    left: -20%;
   }
   .bouton2{
    top: 31%;
    left: 5%;
   }
    .bouton3{
        top: 68%;
        left: -7%;
   }
}
@media (min-width: 577px) and (max-width: 768px) {
    .jeuDiv1{
    margin-top: 18%;
   }
   .bouton1{
    top: 31%;
    left: -15%;
   }
   .bouton2{
    top: 31%;
    left: 5%;
   }
    .bouton3{
    top: 68%;
    left: -5%;
   }
    
}
@media (min-width: 769px) and (max-width: 1090px) {
    .jeuDiv1{
    margin-top: 12%;
   }
   .bouton1{
    top: 31%;
    left: -8%;
   }
   .bouton2{
    top: 31%;
    left: 3%;
   }
    .bouton3{
    top: 68%;
    left: -1%;
   }
}